<html>
	<head>
	   <meta content = 'text/html; charset = UTF-8' http-equiv = 'Content Type' >
	</head>
	<body>
		<h2>New visist created in <%= @location.name %></h2>
		<p>A new visit has been created in the location</p>
	</body>
</html>